<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Step-Crazy/Category</title>
  </head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap-utilities.rtl.min.css"
    integrity="sha512-g/9zc34RrAHk9cSFEodVsDR+TjDAhw9+VjWHnbK6kZe6sK4xTpPJ6cqJYd3WXfFmQuNLIkhDetQdm6fOOzj/nQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <style>
    .dimmed-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
      display: none;
      z-index: 999;
    }
  
    .loader {
      border: 8px solid #f3f3f3; /* Light gray */
      border-top: 8px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      display: none;
      animation: spin 2s linear infinite;
    }
  
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
  <body>
    <div class="dimmed-background" id="dimmedBackground"></div>
    <div class="loader" id="loader"></div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a href="/admin/dashboard">
          <img
            src="/../../Img/product/logo.png"
            alt="logo"
            class="img-fluid w-25"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard"
            >Dashboard</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard/admins"
            >Admins</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard/user"
            >Users</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard/product"
            >Product</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard/category"
            >Category</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard/coupon"
            >Coupons</a
            >
            <a href="/admin/dashboard/category/add">
              <button type="submit" class="btn btn-primary">
                Add Category
              </button>
            </a>
          </div>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <div class="row my-4">
        <div class="col-lg-14">
          <div class="table-responsive">
            <% if (categories !== '') { %>
            <table class="table table-striped text-center">
              <thead>
                <tr class="table-dark">
                  <th>Num.</th>
                  <th>category</th>
                  
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% categories.forEach((row, index) => { %>
                <tr>
                  <td><%= index+1 %></td>
                  <td style="max-width: 80px; overflow-wrap: break-word;"><%= row.category %></td>
                  
                  <td>
                    <a
                      href="/admin/dashboard/category/edit/<%= row._id %>"
                      class="text-success"
                      ><i class="fas fa-edit fa-lg"></i
                    ></a>
                    <a
                      href="/admin/dashboard/category/delete/<%= row._id %>"
                      class="text-danger delete-Category"
                      id="deleteCategory_<%= row._id %>"
                      ><i class="fas fa-trash fa-lg mx-1"></i
                    ></a>
                  </td>
                  <% }) %>
                </tr>
              </tbody>
            </table>
            <% } else {%>
            <h1>No data in the category database</h1>
            <% } %>
          </div>
          <div class="row">
            <ul class="pagination pagination-lg justify-content-end" id="pagination">
              <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="/admin/dashboard/category/search?page=<%= currentPage - 1 %>">Previous</a>
                </li>
              <% } %>
          
              <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item">
                  <a class="page-link<%= i === currentPage ? ' active' : '' %> rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="/admin/dashboard/category/search?page=<%= i %>"><%= i %></a>
                </li>
              <% } %>
          
              <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="/admin/dashboard/category/search?page=<%= currentPage + 1 %>">Next</a>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    src =
      "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js";
    integrity =
      "sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==";
    crossorigin = "anonymous";
    referrerpolicy = "no-referrer";
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    const deleteCategory = document.querySelectorAll(".delete-Category");

    deleteCategory.forEach((deleteCat) => {
  deleteCat.addEventListener("click", function (e) {
    e.preventDefault();

    const categoryId = this.id.split("_")[1];

    // Use SweetAlert for confirmation
    Swal.fire({
      title: "Are you sure?",
      text: "Do you want to delete this category?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes, delete it",
      cancelButtonText: "Cancel",
    }).then((result) => {
      if (result.isConfirmed) {
        // Fetch method for deleting the category
        fetch(`/admin/dashboard/category/delete/${categoryId}`, {
          method: "delete",
        })
          .then((response) => {
            if (response.ok) {
              // Show a success SweetAlert
              Swal.fire("Deleted!", "The category is deleted successfully.", "success");
              this.parentNode.parentNode.remove();
            } else {
              // Show an error SweetAlert
              Swal.fire("Error!", `Error deleting the category (${response.status} - ${response.statusText})`, "error");
            }
          })
          .catch((error) => {
            // Show a network error SweetAlert
            Swal.fire("Error!", "Network error", "error");
          });
      }
    });
  });
});

  </script>
  <script>
    $(document).ready(function() {
      const loader = $('#loader');
      const dimmedBackground = $('#dimmedBackground');
  
      // Show the loader and dimmed background
      loader.show();
      dimmedBackground.show();
  
      // After 2 seconds (adjust this delay as needed), hide the loader and dimmed background
      setTimeout(function() {
        loader.hide();
        dimmedBackground.hide();
      }, 1000); // 2 seconds
    });
  </script>
</html>
