<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Step-Crazy/Category</title>
  </head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap-utilities.rtl.min.css"
    integrity="sha512-g/9zc34RrAHk9cSFEodVsDR+TjDAhw9+VjWHnbK6kZe6sK4xTpPJ6cqJYd3WXfFmQuNLIkhDetQdm6fOOzj/nQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a href="/admin/dashboard">
          <img
            src="../../Img/product/logo.png"
            alt="logo"
            class="img-fluid w-25"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard"
              >Dashboard</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard/admins"
              >Admins</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard/user"
              >Users</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard/product"
              >Product</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard/category"
              >Category</a
            >
            <a href="/admin/dashboard/category/add">
              <button type="submit" class="btn btn-primary">
                Add Category
              </button></a
            >
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row my-4">
        <div class="col-lg-14">
          <div class="table-responsive">
            <% if (category !== '') { %>
            <table class="table table-striped text-center">
              <thead>
                <tr class="table-dark">
                  <th>Id</th>
                  <th>Type</th>
                  <th>Brand</th>
                  <th>Gender</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% category.forEach((row, index) => { %>
                <tr>
                  <td><%= row.Id %></td>
                  <td><%= row.Type %></td>
                  <td><%= row.Brand %></td>
                  <td><%= row.Gender %></td>
                  <td>
                    <a
                      href="/admin/dashboard/category/edit/<%= row._id %>"
                      class="text-success"
                      ><i class="fas fa-edit fa-lg"></i
                    ></a>
                    <a
                      href="/admin/dashboard/category/delete/<%= row._id %>"
                      class="text-danger delete-Category"
                      id="deleteCategory_<%= row._id %>"
                      ><i class="fas fa-trash fa-lg mx-1"></i
                    ></a>
                  </td>
                  <% }) %>
                </tr>
              </tbody>
            </table>
            <% } else {%>
            <h1>No data in the category database</h1>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    src =
      "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js";
    integrity =
      "sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==";
    crossorigin = "anonymous";
    referrerpolicy = "no-referrer";
  </script>

  <script>
    const deleteCategory = document.querySelectorAll(".delete-Category");

    deleteCategory.forEach((deleteCat) => {
      deleteCat.addEventListener("click", function (e) {
        e.preventDefault();

        const categoryId = this.id.split("_")[1];
        const confirmation = confirm(
          "Are you sure you want to delete this category"
        );
        if (confirmation) {
          // fetch method for deleting the category
          fetch(`/admin/dashboard/category/delete/${categoryId}`, {
            method: "delete",
          }).then((response) => {
            if (response.ok) {
              console.log("The category is deleted successfully");
              this.parentNode.parentNode.remove();
            } else {
              console.log(
                "Error deleting the category",
                response.status,
                response.statusText
              );
            }
          })
          .catch((error)=>{
            console.error("Network error");
          })
        }
      });
    });
  </script>
</html>
