<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Step-Crazy/Users</title>
  </head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap-utilities.rtl.min.css"
    integrity="sha512-g/9zc34RrAHk9cSFEodVsDR+TjDAhw9+VjWHnbK6kZe6sK4xTpPJ6cqJYd3WXfFmQuNLIkhDetQdm6fOOzj/nQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a href="/admin/dashboard">
          <img
            src="../../Img/product/logo.png"
            alt="logo"
            class="img-fluid w-25"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard"
              >Dashboard</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard/admins"
              >Admins</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard/user"
              >Users</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard/product"
              >Product</a
            >
            <a
              class="nav-link active"
              aria-current="page"
              href="/admin/dashboard/category"
              >Category</a
            >
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row my-4">
        <div class="col-lg-14">
          <div class="table-responsive">
            <% if (users !== '') { %>
            <table class="table table-striped text-center">
              <thead>
                <tr class="table-dark">
                  <th>Id</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Gender</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Action</th>
                  <th>Orders</th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach((row, index) => { %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= row.first_name %></td>
                  <td><%= row.last_name %></td>
                  <td><%= row.gender %></td>
                  <td><%= row.email %></td>
                  <td><%= row.phone %></td>
                  <td>
                    <% if (row.blocked) { %>

                    <button
                      id="unblockButton_<%= row._id %>"
                      class="btn btn-success unblock-button"
                      style="width: 100px; height: 40px"
                    >
                      Unblock
                    </button>
                    <% } else { %>
                    <button
                      id="blockButton_<%= row._id %>"
                      class="btn btn-danger block-button"
                      style="width: 100px; height: 40px"
                    >
                      Block
                    </button>

                    <% } %>
                    <!-- Unblock Button (initially hidden) -->
                  </td>
                  <td>
                    <a
                      class="btn btn-primary active"
                      href="/admin/dashboard/order/<%= row._id %>"
                      role="button"
                      >Order</a
                    >
                  </td>
                  <% }) %>
                </tr>
              </tbody>
            </table>
            <% } else {%>
            <h1>There is no data in the database</h1>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    src =
      "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js";
    integrity =
      "sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==";
    crossorigin = "anonymous";
    referrerpolicy = "no-referrer";
  </script>

  <script>
    // Function to handle blocking a user
    function blockUser(userId) {
      fetch(`/admin/dashboard/user/block-user/${userId}`, {
        method: "POST",
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            // Update the UI to reflect the user is blocked
            window.location.href = "/admin/dashboard/user";
          }
        })
        .catch((error) => {
          console.error("Error blocking user:", error);
        });
    }

    // Function to handle unblocking a user
    function unblockUser(userId) {
      fetch(`/admin/dashboard/user/unblock-user/${userId}`, {
        method: "POST",
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            window.location.href = "/admin/dashboard/user";
          }
        })
        .catch((error) => {
          console.error("Error unblocking user:", error);
        });
    }

    // Get all block buttons
    const blockButtons = document.querySelectorAll(".block-button");

    // Get all unblock buttons
    const unblockButtons = document.querySelectorAll(".unblock-button");

    // Add click event listeners for each button pair
    blockButtons.forEach((blockButton) => {
      blockButton.addEventListener("click", () => {
        const userId = blockButton.id.split("_")[1];
        blockUser(userId);
      });
    });

    unblockButtons.forEach((unblockButton) => {
      unblockButton.addEventListener("click", () => {
        const userId = unblockButton.id.split("_")[1];
        unblockUser(userId);
      });
    });
  </script>
</html>
