<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Step-Crazy/cart</title>
    <link rel="stylesheet" href="../../CSS/user/cart.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<style>
  .dimmed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    display: none;
    z-index: 999;
  }

  .loader {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

  </head>
  <body>
    <div class="dimmed-background" id="dimmedBackground"></div>
    <div class="loader" id="loader"></div>
  <!-- header for the user profile -->
  <nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
      <!-- <a
        class="navbar-brand text-success logo h1 align-self-center"
        href="index.html"
      >
        
      </a> -->
      <a href="/">
        <img src="../../Img/login/logo.png" alt="logo" class="img-fluid w-50"
      /></a>
      <button
        class="navbar-toggler border-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#templatemo_main_nav"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
        id="templatemo_main_nav"
      >
        <div class="flex-fill">
          <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="navbar align-self-center d-flex">
          <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="inputMobileSearch"
                placeholder="Search ..."
              />
              <div class="input-group-text">
                <i class="fa fa-fw fa-search"></i>
              </div>
            </div>
          </div>
          
          <!-- <a class="nav-icon position-relative text-decoration-none" href="#">
            <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
            <span
              class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
              >7</span
            >
          </a>
          <a class="nav-icon position-relative text-decoration-none" href="#">
            <i class="fa fa-fw fa-user text-dark mr-3"></i>
            <span
              class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
              >+99</span
            >
          </a> -->
        </div>
      </div>
    </div>
  </nav>
 
    <section class="h-100 h-custom" style="background-color: #d2c9ff">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
            <div
              class="card card-registration card-registration-2"
              style="border-radius: 15px"
            >
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-lg-8">
                    <div class="p-5">
                      <div
                        class="d-flex justify-content-between align-items-center mb-5"
                      >
                      
                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      </div>
                     
                       
                      <hr class="my-4" />
                      
                      <% cartItems.forEach((cartItem) => { %>
                        
                      <div
                        class="row mb-4 d-flex justify-content-between align-items-center"
                      >
                      
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <% if (cartItem.product && cartItem.product.image && cartItem.product.image[0]) { %>
                          <img
                            src="/<%= cartItem.product.image[0] %>"
                            class="img-fluid rounded-3"
                            alt="Cotton T-shirt"
                          />
                          <% }else { %>
                            <h4>image not found</h4>
                            <% } %>
                        </div>
                                        
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted"><%= cartItem.product.name %></h6> 
                            <!-- <h6 class="text-muted">stock availability:<%= cartItem.product.stock %></h6> -->
                            <h6 class="text-black mb-0"> &#8377 <%= cartItem.product.price %></h6>
                            <!-- Add more details as needed -->
                          </div>
                        
                        
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <button
                            class="btn btn-link px-2 decrement-button"
                            data-product-id="<%= cartItem.product._id %>"
                            data-user-id="<%= cartItem.user._id %>"
                            cart-id = "<%= cartItem._id %>"
                            
                          >
                          <i class="fas fa-minus"></i>
                          </button>
                          
                          <input
                            id="quantityInput_<%= cartItem.product._id %>"
                            min="1"
                            name="quantity"
                            value="<%= cartItem.quantity %>"
                            type="number"
                            class="form-control form-control-sm"
                            readonly
                          />

                          <button
                            class="btn btn-link px-2 increment-button"
                            data-product-id="<%= cartItem.product._id %>"
                            cart-id = "<%= cartItem._id %>"
                            <% if (cartItem.quantity >= cartItem.product.stock) { %>
                              disabled
                            <% } %>
                            
                          >
                          <i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0"></h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="/cart/remove/<%= cartItem._id %>"><button type="button" class="btn btn-danger removeButton" id="removeButton_<%= cartItem._id %>" >
                            Remove
                          </button></a>
                          
                        </div>
                      </div>

                      <hr class="my-4" />
                      <% }); %>
                      
                      <div class="pt-5">
                        <h6 class="mb-0">
                          <a href="/product" class="text-body"
                            ><i class="fas fa-long-arrow-alt-left me-2"></i>Back
                            to shop</a>
                          
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 bg-grey">
                    <div class="p-5" id="summaryContainer">
                      <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                      <hr class="my-4" />

                      <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">items</h5>
                        <h5 class="text-uppercase">quantity</h5>
                        <h5 class="text-uppercase">price</h5>
                      </div>
                      
                      <% let totalPrice = 0; %>
                      
                      <% cartItems.forEach((cartItem) => { %>
                        <div class="d-flex justify-content-between mb-4">
                          <h5 style="max-width: 120px; word-wrap: break-word;"><%= cartItem.product.name %></h5>
                          <h5><%= cartItem.quantity %></h5>
                          <h5 class="text-uppercase"> &#8377 <%= cartItem.product.price.toFixed(2)*cartItem.quantity %></h5>
                        </div>
                        <% totalPrice += cartItem.product.price * cartItem.quantity; %>
                        <% }) %>
                        
                        <hr class="my-4" />
                        
                        <div class="d-flex justify-content-between mb-5">
                          <h5 class="text-uppercase">Total price</h5>
                          <h5> &#8377 <%= totalPrice.toFixed(2) %></h5>
                        </div>

                      <a href="/product/cart/checkout"> 
                      <button
                        type="button"
                        class="btn btn-primary btn-block btn-lg"
                        data-mdb-ripple-color="dark"
                      >
                       Place Order
                      </button></a> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- script tag for handling the incremental and decremental of the products -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      let plusCount;
      let minusCount;

      // fuction to increment the quantity
      function incrementQuantity(productId,userId,cartId){
        const quantityInput = document.getElementById(`quantityInput_${productId}`);
        const currentQuantity = parseInt(quantityInput.value);
        console.log(cartId);
        
        quantityInput.value = currentQuantity + 1
        plusCount = quantityInput.value;
        console.log(quantityInput.value);
        // fetching the request to update the cart in the server
        fetch(`/product/cart/update/${productId}`,{
          method: "post",
          headers: {"content-Type":'application/json'},
          body: JSON.stringify({plusCount,minusCount,cartId})
        })
        .then((response)=>{
          if(response.ok){
            console.log("product quantity increased successfully");
            
            const initialQuantity = parseInt(document.getElementById(`quantityInput_${productId}`).value);
            
          } else {
            console.log("Response not ok:", response);
          }
          
        })
        
        .catch((error)=>{
          console.error("error while increasing the product");
        })
        location.reload();
      }

      // function to decrement the quantity
      function decrementQuantity(productId,userId,cartId){
        const quantityInput = document.getElementById(`quantityInput_${productId}`);
        const currentQuantity = parseInt(quantityInput.value);
        if(currentQuantity>1){
          
          quantityInput.value = currentQuantity - 1;
          minusCount = quantityInput.value;
          console.log(quantityInput.value);
          // fetching the request to update the cart in the server
          fetch(`/product/cart/update/${productId}`,{
            method: "post",
            headers: {"content-Type":'application/json'},
            body: JSON.stringify({plusCount,minusCount,cartId})
          })
          .then((response)=>{
            if(response.ok){
              console.log("product quantity decreased successfully");
              
              console.log("Response not ok:", response);
            }
            
          })
          .catch((error)=>{
            console.error("error while decreasing the quantity");
          })
        }
        const initialQuantity = parseInt(document.getElementById(`quantityInput_${productId}`).value);
        location.reload()
      }

      
      // adding event listners to all the buttons
      const incrementButton = document.querySelectorAll(".increment-button");
      const decrementButton = document.querySelectorAll(".decrement-button");

      incrementButton.forEach((button) => {
        const productId = button.getAttribute("data-product-id");
        const userId = button.getAttribute("data-user-id");
        const cartId = button.getAttribute("cart-id");
        console.log(cartId);
        button.addEventListener("click", () => {
          incrementQuantity(productId,userId,cartId);
        });
      });

      decrementButton.forEach((button) => {
        const productId = button.getAttribute("data-product-id");
        const userId = button.getAttribute("data-user-id");
        const cartId = button.getAttribute("cart-id");
        button.addEventListener("click", () => {
          decrementQuantity(productId,userId,cartId)
        })
      })    

      

    </script>
   
  

    <script>
      $(document).ready(function() {
        const loader = $('#loader');
        const dimmedBackground = $('#dimmedBackground');
    
        // Show the loader and dimmed background
        loader.show();
        dimmedBackground.show();
    
        // After 2 seconds (adjust this delay as needed), hide the loader and dimmed background
        setTimeout(function() {
          loader.hide();
          dimmedBackground.hide();
        }, 1000); // 2 seconds
      });
    </script>
  </body>
</html>
