<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Step-Crazy/cart</title>
    <link rel="stylesheet" href="../../CSS/user/cart.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

  </head>
  <!-- header for the user profile -->
  <nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
      <!-- <a
        class="navbar-brand text-success logo h1 align-self-center"
        href="index.html"
      >
        
      </a> -->
      <a href="/">
        <img src="../../Img/login/logo.png" alt="logo" class="img-fluid w-50"
      /></a>
      <button
        class="navbar-toggler border-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#templatemo_main_nav"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
        id="templatemo_main_nav"
      >
        <div class="flex-fill">
          <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="navbar align-self-center d-flex">
          <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="inputMobileSearch"
                placeholder="Search ..."
              />
              <div class="input-group-text">
                <i class="fa fa-fw fa-search"></i>
              </div>
            </div>
          </div>
          <a
            class="nav-icon d-none d-lg-inline"
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#templatemo_search"
          >
            <i class="fa fa-fw fa-search text-dark mr-2"></i>
          </a>
          <!-- <a class="nav-icon position-relative text-decoration-none" href="#">
            <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
            <span
              class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
              >7</span
            >
          </a>
          <a class="nav-icon position-relative text-decoration-none" href="#">
            <i class="fa fa-fw fa-user text-dark mr-3"></i>
            <span
              class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
              >+99</span
            >
          </a> -->
        </div>
      </div>
    </div>
  </nav>
  <body>
    <section class="h-100 h-custom" style="background-color: #d2c9ff">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
            <div
              class="card card-registration card-registration-2"
              style="border-radius: 15px"
            >
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-lg-8">
                    <div class="p-5">
                      <div
                        class="d-flex justify-content-between align-items-center mb-5"
                      >
                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      </div>
                      <hr class="my-4" />
                      <% cartPage.forEach((cartItem) => { %>
                      <div
                        class="row mb-4 d-flex justify-content-between align-items-center"
                      >
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img
                            src="/<%= cartItem.product.image[0] %>"
                            class="img-fluid rounded-3"
                            alt="Cotton T-shirt"
                          />
                        </div>
                        
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted"><%= cartItem.product.name %></h6>
                            <h6 class="text-muted">stock availability:<%= cartItem.product.stock %></h6>
                            <h6 class="text-black mb-0"> &#8377 <%= cartItem.product.price %></h6>
                            <!-- Add more details as needed -->
                          </div>
                        
                        
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <button
                            class="btn btn-link px-2 decrement-button"
                            data-product-id="<%= cartItem.product._id %>"
                            
                          >
                          <i class="fas fa-minus"></i>
                          </button>

                          <input
                            id="quantityInput_<%= cartItem.product._id %>"
                            min="1"
                            name="quantity"
                            value="<%= cartItem.quantity %>"
                            type="number"
                            class="form-control form-control-sm"
                          />

                          <button
                            class="btn btn-link px-2 increment-button"
                            data-product-id="<%= cartItem.product._id %>"
                            
                          >
                          <i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0"></h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <button type="button" class="btn btn-danger">
                            Remove
                          </button>
                        </div>
                      </div>

                      <hr class="my-4" />
                      <% }); %>
                      <div class="pt-5">
                        <h6 class="mb-0">
                          <a href="/product" class="text-body"
                            ><i class="fas fa-long-arrow-alt-left me-2"></i>Back
                            to shop</a>
                          
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 bg-grey">
                    <div class="p-5">
                      <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                      <hr class="my-4" />

                      <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">items 3</h5>
                        <h5>€ 132.00</h5>
                      </div>

                      <h5 class="text-uppercase mb-3">Shipping</h5>

                      <div class="mb-4 pb-2">
                        <select class="select">
                          <option value="1">Standard-Delivery- €5.00</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                          <option value="4">Four</option>
                        </select>
                      </div>

                      <h5 class="text-uppercase mb-3">Give code</h5>

                      <div class="mb-5">
                        <div class="form-outline">
                          <input
                            type="text"
                            id="form3Examplea2"
                            class="form-control form-control-lg"
                          />
                          <label class="form-label" for="form3Examplea2"
                            >Enter your code</label
                          >
                        </div>
                      </div>

                      <hr class="my-4" />

                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total price</h5>
                        <h5>€ 137.00</h5>
                      </div>

                      <button
                        type="button"
                        class="btn btn-dark btn-block btn-lg"
                        data-mdb-ripple-color="dark"
                      >
                        Register
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- script tag for handling the incremental and decremental of the products -->
    <script>
      // fuction to increment the quantity
      function incrementQuantity(productId){
        const quantityInput = document.getElementById(`quantityInput_${productId}`);
        const currentQuantity = parseInt(quantityInput.value);
        
        
        quantityInput.value = currentQuantity + 1

        // fetching the request to update the cart in the server
        fetch(`/product/cart/update/${productId}?increment=true`,{
          method: "put"
        })
        .then((response)=>{
          if(response.ok){
            console.log("product quantity increased successfully");
            setTimeout(() => {
              window.location.reload();
            }, 2000);
            const initialQuantity = parseInt(document.getElementById(`quantityInput_${productId}`).value);
          } else {
            console.log("Response not ok:", response);
          }
        })
        
        .catch((error)=>{
          console.error("error while increasing the product");
        })
        
      }

      // function to decrement the quantity
      function decrementQuantity(productId){
        const quantityInput = document.getElementById(`quantityInput_${productId}`);
        const currentQuantity = parseInt(quantityInput.value);
        if(currentQuantity>1){
          
          quantityInput.value = currentQuantity - 1;
          
          // fetching the request to update the cart in the server
          fetch(`/product/cart/update/${productId}?decrement=false`,{
            method: "put"
          })
          .then((response)=>{
            if(response.ok){
              console.log("product quantity decreased successfully");
              setTimeout(()=>{

                 window.location.reload()
              },1000)
            } else {
              console.log("Response not ok:", response);
            }
          })
          .catch((error)=>{
            console.error("error while decreasing the quantity");
          })
        }
        const initialQuantity = parseInt(document.getElementById(`quantityInput_${productId}`).value);
      }

      // adding event listners to all the buttons
      const incrementButton = document.querySelectorAll(".increment-button");
      const decrementButton = document.querySelectorAll(".decrement-button");

      incrementButton.forEach((button) => {
        const productId = button.getAttribute("data-product-id");
        button.addEventListener("click", () => {
          incrementQuantity(productId);
        });
      });

      decrementButton.forEach((button) => {
        const productId = button.getAttribute("data-product-id");
        button.addEventListener("click", () => {
          decrementQuantity(productId)
        })
      })
      
      
    </script>
  </body>
</html>
