<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Step-Crazy/Invoice</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5; /* Background color for the "paper" */
        padding: 150px;
        padding-top: 50px;
      }

      .card {
        background-color: #fff; /* Background color for the "card" */
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Box shadow for the "card" */
        padding: 20px;
        margin: 0 auto;
        max-width: 1500px;
      }

      /* Add more styles for your specific elements if needed */
    </style>
  </head>
  <body>
    <div
      class="card"
      style="
        width: 100%;
        margin: 0;
        box-shadow: none;
        border: none;
        page-break-before: always;
      "
    >
      <div class="card-body">
        <div class="container mb-5 mt-3">
          <div class="container">
            <h2 class="text-center">Invoice</h2>
            <div class="col-md-12">
              <div class="text-center">
                <img src="../Img/login/logo.png" alt="" style="height: 100px" />
              </div>
            </div>
            
             
              <div class="row">
             
              <div class="col-xl-8">
                <ul class="list-unstyled">
                  <li class="text-muted">
                    To: <span style="color: #8f8061"><%= invoiceDetails.first_name  %> <%= invoiceDetails.last_name %></span>
                  </li>
                  <li class="text-muted" style="white-space: pre-line; line-height: 0.5;">
                    <% invoiceDetails.order[0].selectedAddress.forEach(function(line) { %>
                      <%= line %><br>
                    <% }); %>
                  </li>

                  <li class="text-muted">
                    <i class="fas fa-phone"></i> <%= invoiceDetails.phone %>
                  </li>
                </ul>
              </div>
              <div class="col-xl-4">
                <p class="text-muted">Invoice</p>
                <ul class="list-unstyled">
                  <li class="text-muted">
                    <i class="fas fa-circle" style="color: #8f8061"></i>
                    <span class="fw-bold">ID:</span><%= invoiceDetails.order[0]._id %>
                  </li>
                  <li class="text-muted">
                    <i class="fas fa-circle" style="color: #8f8061"></i>
                    <span class="fw-bold">Creation Date: </span><%= invoiceDetails.order[0].date.toLocaleDateString() %>
                  </li>
                </ul>
              </div>
            </div>
            
              <% invoiceDetails.order[0].products.forEach((productDetails) => { %>
            <div class="row my-2 mx-1 justify-content-center" style="padding-right: 400px;">
              <div class="col-md-2 mb-4 mb-md-0">
                <div class="card" style="width: 500px;">
                  
                    
                  
                  
                  <h5 class="card-title" style="width: 180px;">Product Description</h5>
                   
                  
                  <div class="card-body">
                    
                    <p class="card-title">Name: <%= productDetails.name %></p>
                    <p class="card-text">About <%= productDetails.description %></p>
                    <p class="card-text">Qty: <%= invoiceDetails.order[0].quantity %></p>
                    <p class="card-text">Price: &#8377 <%= productDetails.price %></p>
                  </div>
                  
                </div>
              </div>
             
             
            </div>
            
            <div class="col-md-7 mb-4 mb-md-0">
              <p class="fw-bold"> Dear <%= invoiceDetails.first_name %>,<br>
                        Your order for the product <%= productDetails.name %> of &#8377 <%= productDetails.price %> been placed successfully.
                        
              
              </p>
              
            </div>
            <div class="row">
              <div class="col-xl-8">
                <p class="ms-3">Mode of payment </p>
                <% invoiceDetails.order.forEach((order) => { %>
                    <p class="ms-3"><%= order.paymentMethod %></p>
                <% }); %>
            </div>
            <hr />
            
              <div class="col-xl-3">
                
                <p class="text-black float-start">
                  <span class="text-black me-3"> Total Amount</span
                  >
                  <% let total = 0 %>
                  <% total += productDetails.price*invoiceDetails.order[0].quantity %>
                  <span style="font-size: 25px">&#8377 <%= total %></span>
                </p>
              </div>
            </div>
            <% }) %>
            
          </div>
        </div>
      </div>
    </div>
   
  </body>
</html>
