<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Step-Crazy/products</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/favicon.ico"
    />

    <link rel="stylesheet" href="../CSS/user/bootstrap.min.css" />
    <link rel="stylesheet" href="../CSS/user/templatemo.css" />
    <link rel="stylesheet" href="../CSS/user/custom.css" />

    <!-- Load fonts style after rendering the layout styles -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="../CSS/user/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
    <style>
      .dimmed-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
        display: none;
        z-index: 999;
      }
    
      .loader {
        border: 8px solid #f3f3f3; /* Light gray */
        border-top: 8px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        display: none;
        animation: spin 2s linear infinite;
      }
    
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>    

  </head>

  <body>
    <div class="dimmed-background" id="dimmedBackground"></div>
    <div class="loader" id="loader"></div>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
      <div class="container d-flex justify-content-between align-items-center">
        <a href="/">
          <img src="../../Img/login/logo.png" alt="logo" class="img-fluid w-50" />
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
          <div class="flex-fill">
            <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product">Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </nav>
    <!-- Close Top Nav -->

    <div
      class="modal fade bg-white"
      id="templatemo_search"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form
          action=""
          method="get"
          class="modal-content modal-body border-0 p-0"
        >
          <div class="input-group mb-2">
            <input
              type="text"
              class="form-control"
              id="inputModalSearch"
              name="q"
              placeholder="Search ..."
            />
            <button
              type="submit"
              class="input-group-text bg-success text-light"
            >
              <i class="fa fa-fw fa-search text-white"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    

    <!-- Start Content -->
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-3">
          <article class="filter-group">
            <header class="card-header">
              <h6 class="title">Price range</h6>
            </header>
            <div class="filter-content collapse show" id="collapse_3">
              <div class="card-body">
                <form id="priceRangeForm" action="/products/search?priceRange=" method="get">
                  <div class="form-group">
                    <label>Price Range</label>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="range_1" name="priceRange" class="custom-control-input" value="0-1000">
                      <label class="custom-control-label" for="range_1">0 - 1000</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="range_2" name="priceRange" class="custom-control-input" value="1001-5000">
                      <label class="custom-control-label" for="range_2">1001 - 5000</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="range_3" name="priceRange" class="custom-control-input" value="5001-30000">
                      <label class="custom-control-label" for="range_3">5001 - 30000</label>
                    </div>
                    
                    <!-- Add other price range options here -->
                  </div>
                  <button class="btn btn-block btn-primary" type="submit">Apply</button>
                </form>
              </div>
            </div>
          </article>
          
        </div>


        <div class="col-lg-9">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-inline shop-top-menu pb-3 pt-1">
                
                <!-- <li class="list-inline-item">
                  <a class="h3 text-dark text-decoration-none mr-3" href="#"
                    >All</a
                  >
                </li> -->
                <!-- <li class="list-inline-item">
                  <a class="h3 text-dark text-decoration-none mr-3" href="#"
                    >Men's</a
                  >
                </li>
                <li class="list-inline-item">
                  <a class="h3 text-dark text-decoration-none" href="#"
                    >Women's</a
                  >
                </li> -->
              </ul>
            </div>
            <form  action="/products/search" method="get">
            <div class="col-md-6 pb-4">
              <div class="input-group">
                
                  <input type="text" class="form-control" id="searchInput" placeholder="Search.." name="search">
                  <button type="submit" class="btn btn-primary" id="searchButton"><i class="fas fa-search"></i></button>
                
                
                  
                </div>
              </div>
              
            </form>
          </div>
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <% products.forEach((singleProduct) => { %>
              <% if (singleProduct.status === true) { %>
                <div class="col">
                  <div class="card mb-4 product-wap rounded-0" style="height: 400px;">
                    <div class="card rounded-0" style="position: relative; overflow: hidden; height: 100%;">
                      <img src="/<%= singleProduct.image[0] %>" class="card-img-top img-fluid" alt="<%= singleProduct.name %>" style="object-fit: cover; height: 100%;" />
                      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                        <% if (singleProduct.stock == 0) { %>
                          <p style="color: red; text-align: center;">Product out of stock</p>
                        <% } else if (singleProduct.stock <= 5) { %>
                          <p style="color: red; text-align: center;">Only <%= singleProduct.stock %> product is available</p>
                        <% } %>
                      </div>
                    </div>
                    <div class="card-body">
                      <a href="/product/details/<%= singleProduct._id %>" class="h3 text-decoration-none"><%= singleProduct.name %></a>
                      <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <li><%= singleProduct.category %></li>
                        <li>M/L/X/XL</li>
                      </ul>
                      <p class="text-center mb-0"><strong>&#8377 <%= singleProduct.price %></strong></p>
                    </div>
                  </div>
                </div>
              <% } %>
            <% }) %>
          </div>
          
          
          
          
          <div class="row">
            <ul class="pagination pagination-lg justify-content-end" id="pagination">
              <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="/products/search?page=<%= currentPage - 1 %>">Previous</a>
                </li>
              <% } %>
          
              <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item">
                  <a class="page-link<%= i === currentPage ? ' active' : '' %> rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="/products/search?page=<%= i %>"><%= i %></a>
                </li>
              <% } %>
          
              <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="/products/search?page=<%= currentPage + 1 %>">Next</a>
                </li>
              <% } %>
            </ul>
          </div>
          
          
          
        </div>
      </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <!-- <section class="bg-light py-5">
      <div class="container my-4">
        <div class="row text-center py-3">
          <div class="col-lg-6 m-auto">
            <h1 class="h1">Our Brands</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod Lorem ipsum dolor sit amet.
            </p>
          </div>page
          <div class="col-lg-9 m-auto tempaltemo-carousel">
            <div class="row d-flex flex-row"> -->
              <!--Controls-->
              <!-- <div class="col-1 align-self-center">
                <a
                  class="h1"
                  href="#multi-item-example"
                  role="button"
                  data-bs-slide="prev"
                >
                  <i class="text-light fas fa-chevron-left"></i>
                </a>
              </div> -->
              <!--End Controls-->

              <!--Carousel Wrapper-->
              <!-- <div class="col">
                <div
                  class="carousel slide carousel-multi-item pt-2 pt-md-0"
                  id="multi-item-example"
                  data-bs-ride="carousel"
                > -->
                  <!--Slides-->
                  <!-- <div class="carousel-inner product-links-wap" role="listbox"> -->
                    <!--First slide-->
                    <!-- <div class="carousel-item active">
                      <div class="row">
                        <div class="col-3 p-md-5">
                          <a href="#"
                            ><img
                              class="img-fluid brand-img"
                              src="assets/img/brand_01.png"
                              alt="Brand Logo"
                          /></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"
                            ><img
                              class="img-fluid brand-img"
                              src="assets/img/brand_02.png"
                              alt="Brand Logo"
                          /></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"
                            ><img
                              class="img-fluid brand-img"
                              src="assets/img/brand_03.png"
                              alt="Brand Logo"
                          /></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"
                            ><img
                              class="img-fluid brand-img"
                              src="assets/img/brand_04.png"
                              alt="Brand Logo"
                          /></a>
                        </div>
                      </div>
                    </div> -->
                    <!--End First slide-->

                    <!--Second slide-->
                    <!-- <div class="carousel-item">
                      <div class="row">
                        <div class="col-3 p-md-5">
                          <a href="#"
                            ><img
                              class="img-fluid brand-img"
                              src="assets/img/brand_01.png"
                              alt="Brand Logo"
                          /></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"
                            ><img
                              class="img-fluid brand-img"
                              src="assets/img/brand_02.png"
                              alt="Brand Logo"
                          /></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"
                            ><img
                              class="img-fluid brand-img"
                              src="assets/img/brand_03.png"
                              alt="Brand Logo"
                          /></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"
                            ><img
                              class="img-fluid brand-img"
                              src="assets/img/brand_04.png"
                              alt="Brand Logo"
                          /></a>
                        </div>
                      </div>
                    </div> -->
                    <!--End Second slide-->

                    <!--Third slide-->
                    <div class="carousel-item">
                      <div class="row">
                        <div class="col-3 p-md-5">
                          <a href="#"
                            ><img
                              class="img-fluid brand-img"
                              src="assets/img/brand_01.png"
                              alt="Brand Logo"
                          /></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"
                            ><img
                              class="img-fluid brand-img"
                              src="assets/img/brand_02.png"
                              alt="Brand Logo"
                          /></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"
                            ><img
                              class="img-fluid brand-img"
                              src="assets/img/brand_03.png"
                              alt="Brand Logo"
                          /></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"
                            ><img
                              class="img-fluid brand-img"
                              src="assets/img/brand_04.png"
                              alt="Brand Logo"
                          /></a>
                        </div>
                      </div>
                    </div>
                    <!--End Third slide-->
                  <!-- </div> -->
                  <!--End Slides-->
                <!-- </div>
              </div> -->
              <!--End Carousel Wrapper-->

              <!--Controls-->
              <!-- <div class="col-1 align-self-center">
                <a
                  class="h1"
                  href="#multi-item-example"
                  role="button"
                  data-bs-slide="next"
                >
                  <i class="text-light fas fa-chevron-right"></i>
                </a>
              </div> -->
              <!--End Controls-->
            <!-- </div>
          </div>
        </div>
      </div>
    </section> -->
    <!--End Brands-->

    <!-- Start Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/templatemo.js"></script>
    <script src="../js/custom.js"></script>
    <script>
      document.querySelectorAll('.custom-radio input').forEach((radio) => {
        radio.addEventListener('change', function() {
          const selectedValue = this.value;
          const form = document.getElementById('priceRangeForm');
          form.action = `/products/search?priceRange=${selectedValue}`;
        });
      });

    </script>
    <script>
      $(document).ready(function() {
        const loader = $('#loader');
        const dimmedBackground = $('#dimmedBackground');
    
        // Show the loader and dimmed background
        loader.show();
        dimmedBackground.show();
    
        // After 2 seconds (adjust this delay as needed), hide the loader and dimmed background
        setTimeout(function() {
          loader.hide();
          dimmedBackground.hide();
        }, 1000); // 2 seconds
      });
    </script>
  
  
    <!-- End Script -->
  </body>
</html>
