<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Step-Crazy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/favicon.ico"
    />

    <link rel="stylesheet" href="../CSS/home/bootstrap.min.css" />
    <link rel="stylesheet" href="../CSS/home/templatemo.css" />
    <link rel="stylesheet" href="../CSS/home/custom.css" />

    <!-- Load fonts style after rendering the layout styles -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="../CSS/home/fontawesome.min.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      .userProfile {
        display: none;
        position: relative;
      }
    </style>
        <style>
          .dimmed-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
            display: none;
            z-index: 999;
          }
        
          .loader {
            border: 8px solid #f3f3f3; /* Light gray */
            border-top: 8px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            display: none;
            animation: spin 2s linear infinite;
          }
        
          @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
          }
        </style>
  </head>

  <body>
    <div class="dimmed-background" id="dimmedBackground"></div>
    <div class="loader" id="loader"></div>
    <!-- Start Top Nav -->
    <nav
      class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block"
      id="templatemo_nav_top"
    >
      <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
          <div>
            <i class="fa fa-envelope mx-2"></i>
            <a
              class="navbar-sm-brand text-light text-decoration-none"
              href="mailto:info@company.com"
              >stepcrazy@gmail.com</a
            >
            <i class="fa fa-phone mx-2"></i>
            <a
              class="navbar-sm-brand text-light text-decoration-none"
              href="tel:010-020-0340"
              >9544291856</a
            >
          </div>
          <div>
            <a
              class="text-light"
              href="https://fb.com/templatemo"
              target="_blank"
              rel="sponsored"
              ><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i
            ></a>
            <a
              class="text-light"
              href="https://www.instagram.com/"
              target="_blank"
              ><i class="fab fa-instagram fa-sm fa-fw me-2"></i
            ></a>
            <a class="text-light" href="https://twitter.com/" target="_blank"
              ><i class="fab fa-twitter fa-sm fa-fw me-2"></i
            ></a>
            <a
              class="text-light"
              href="https://www.linkedin.com/"
              target="_blank"
              ><i class="fab fa-linkedin fa-sm fa-fw"></i
            ></a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Close Top Nav -->

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
      <div class="container d-flex justify-content-between align-items-center">
        <!-- <a class="navbar-brand text-success logo h1 align-self-center" href="/">
          Step Crazy
        </a> -->
        <a href="/">
          <img src="../Img/login/logo.png" alt="logo" class="img-fluid w-20"
        /></a>

        <button
          class="navbar-toggler border-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#templatemo_main_nav"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
          id="templatemo_main_nav"
        >
          <div class="flex-fill">
            <ul
              class="nav navbar-nav d-flex justify-content-between mx-lg-auto"
            >
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product">Product</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
          <% if (user) { %>
          <div id="loginDropdown" class="dropdown" style="margin-left: 20px">
            <button
              class="btn btn-light dropdown-toggle"
              type="button"
              id="profileDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <!-- Profile Icon -->
              <i class="fas fa-user-circle fa-2x"
                ><i style="margin-left: 10px; font-size: large"
                  ><%= data.first_name %></i
                ></i
              >
            </button>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
              <!-- Dropdown Items -->
              <li style="text-align: center">
                <i class="fas fa-user"></i><a class="profie" href="/profile">Profile</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li style="text-align: center">
                <i class="fas fa-shopping-cart"></i> <a class="order" href="/order">Order</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li style="text-align: center">
                <i class="fas fa-wallet"></i> <a class="wallet" href="/wallet">Wallet</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li style="text-align: center">
                <i class="fas fa-heart"></i> <a class="wishlist" href="/wishlist">Wishlist</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li style="text-align: center">
                <i class="fas fa-tags"></i> <a class="coupon" href="/coupon">Coupon</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li style="text-align: center">
                <i class="fas fa-sign-out-alt"></i> <a class="logout" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
          <% } else {%>
          <div id="loginDropdown" class="dropdown">
            <button
              class="btn btn-light dropdown-toggle"
              type="button"
              id="profileDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <!-- Profile Icon -->
              <i class="fas fa-user-circle fa-2x"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
              <!-- Dropdown Items -->
              <li id="loginItem">
                <i class="fas fa-sign-in-alt"></i>  <a class="login" href="/login" onclick="toggleDropdown()"
                  >Login</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li id="signupItem">
                <i class="fas fa-user-plus"></i> <a class="signup" href="/signup">Signup</a>
              </li>
            </ul>
          </div>
          <% } %>
         
          <a href="/cart" style="position: relative; text-decoration: none; display: inline-block;">
            <i class="fas fa-shopping-cart" style="z-index: 1;"></i>
            <span style="position: absolute; top: -20px; right: -14px; background-color: black; color: white; border-radius: 50%; padding: 6px 10px; font-size: 12px; z-index: 2;">
              <% let totalQuantity = 0; %>
              <% cart.forEach((item) => { %>
                <% totalQuantity += item.quantity; %>
              <% }); %>
              <%= totalQuantity %>
            </span>
          </a>
          <!-- navbar begins here -->
          <div class="navbar align-self-center d-flex">
            <div
              class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3"
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  id="inputMobileSearch"
                  placeholder="Search ..."
                />
                <div class="input-group-text">
                  <i class="fa fa-fw fa-search"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div
      class="modal fade bg-white"
      id="templatemo_search"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form
          action=""
          method="get"
          class="modal-content modal-body border-0 p-0"
        >
          <div class="input-group mb-2">
            <input
              type="text"
              class="form-control"
              id="inputModalSearch"
              name="q"
              placeholder="Search ..."
            />
            <button
              type="submit"
              class="input-group-text bg-success text-light"
            >
              <i class="fa fa-fw fa-search text-white"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Start Banner Hero -->
   
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <% bannerData.forEach((banner, index) => { %>
          <li
            data-bs-target="#template-mo-zay-hero-carousel"
            data-bs-slide-to="<%= index %>"
            <% if (index === 0) { %>class="active"<% } %>
          ></li>
        <% }); %>
      </ol>
      <div class="container">
      <div class="carousel-inner">
        <% bannerData.forEach((banner, index) => { %>
          <div class="carousel-item<%= index === 0 ? ' active' : '' %>">
            
              
                <!-- <div class="mx-auto col-md-8 col-lg-6 order-lg-last"> -->
                  <img class="img-fluid" src="/Img/<%= banner.image %>" alt="<%= banner.alt %>" style="width: 100%; height: auto;" />
                <!-- </div> -->
              
            <!-- </div> -->
          </div>
        <% }); %>
      </div>
      </div>
      
      <a
        class="carousel-control-prev text-decoration-none w-auto ps-3"
        href="#template-mo-zay-hero-carousel"
        role="button"
        style="background-color: white;"
        data-bs-slide="prev"
      >
        <i class="fas fa-chevron-left"></i>
      </a>
      <a
        class="carousel-control-next text-decoration-none w-auto pe-3"
        href="#template-mo-zay-hero-carousel"
        role="button"
        style="background-color: white;"
        data-bs-slide="next"
      >
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
    
    
    <!-- End Banner Hero -->

    <!-- Start Categories of The Month -->
    <section class="container py-5">
      <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
          <h1 class="h1">Categories of The Month</h1>
          <p>
            "Welcome to our 'Categories of The Month'! 🌟 Each month, we curate
            a special selection of our finest footwear to cater to your
            ever-evolving style.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
          <a href="/product"
            ><img
              src="../Img/home/sneakers3.jpeg"
              class="rounded-circle img-fluid border"
          /></a>
          <h5 class="text-center mt-3 mb-3">Sneakers</h5>
          <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
          <a href="/product"
            ><img
              src="../Img/home/formal9.jpeg"
              class="rounded-circle img-fluid border"
          /></a>
          <h2 class="h5 text-center mt-3 mb-3">Formals</h2>
          <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
          <a href="/product"
            ><img
              src="../Img/home/casual2.jpeg"
              class="rounded-circle img-fluid border"
          /></a>
          <h2 class="h5 text-center mt-3 mb-3">Casuals</h2>
          <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
        </div>
      </div>
    </section>
    <!-- End Categories of The Month -->

    <!-- Start Featured Product -->
    <section class="bg-light">
      <div class="container py-5">
        <div class="row text-center py-3">
          <div class="col-lg-6 m-auto">
            <h1 class="h1">Featured Product</h1>
            <p>
              Superior Comfort: We understand the importance of comfort in every
              step you take. With our products, you can enjoy all-day comfort
              without compromising on style. Say goodbye to discomfort and hello
              to blissful walking.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <a href="/product">
                <img
                  src="../Img/home/style3.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
              <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                  <li>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                  </li>
                  <li class="text-muted text-right">&#8377 2400.00</li>
                </ul>
                <a
                  href="/product"
                  class="h2 text-decoration-none text-dark"
                  >Gym Weight</a
                >
                <p class="card-text">
                  Looking to take your fitness routine to the next level? Look
                  no further than our premium Gym Weights. These weights are the
                  perfect companion for your strength training sessions,
                  offering durability, versatility, and exceptional performance.
                </p>
                <p class="text-muted">Reviews (24)</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <a href="/product">
                <img
                  src="../Img/home/style4.jpeg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
              <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                  <li>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                  </li>
                  <li class="text-muted text-right">&#8377 480.00</li>
                </ul>
                <a
                  href="/product"
                  class="h2 text-decoration-none text-dark"
                  >Cloud Nike Shoes</a
                >
                <p class="card-text">
                  Elevate your footwear game to new heights with our Cloud Nike
                  Shoes. These shoes are more than just a fashion statement;
                  they are the epitome of comfort and style. Explore what makes
                  our Cloud Nike Shoes the perfect choice for every step you
                  take.
                </p>
                <p class="text-muted">Reviews (48)</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <a href="/product">
                <img
                  src="../Img/home/style5.jpeg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
              <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                  <li>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                  </li>
                  <li class="text-muted text-right">&#8377 360.00</li>
                </ul>
                <a
                  href="/product"
                  class="h2 text-decoration-none text-dark"
                  >Summer Addides Shoes</a
                >
                <p class="card-text">
                  Get ready to embrace the sunny days with style and comfort by
                  slipping into our Summer Adidas Shoes. Designed to keep your
                  feet cool and fashionable, these shoes are the perfect choice
                  for all your summer adventures. Discover what sets our Summer
                  Adidas Shoes apart.
                </p>
                <p class="text-muted">Reviews (74)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Featured Product -->

    <!-- Start Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/templatemo.js"></script>
    <script src="../js/custom.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script> -->
    <script>
      function toggleDropdown() {
        const loginItem = document.getElementById("loginItem");
        const logoutItem = document.getElementById("logoutItem");
        const signupItem = document.getElementById("signupItem");

        if (logoutItem.style.display === "none") {
          loginItem.style.display = "none";
          logoutItem.style.display = "block";
          signupItem.style.display = "none";
        } else {
          loginItem.style.display = "block";
          logoutItem.style.display = "none";
          signupItem.style.display = "block";
        }
      }
    </script>
    <script>
      $(document).ready(function() {
        const loader = $('#loader');
        const dimmedBackground = $('#dimmedBackground');
    
        // Show the loader and dimmed background
        loader.show();
        dimmedBackground.show();
    
        // After 2 seconds (adjust this delay as needed), hide the loader and dimmed background
        setTimeout(function() {
          loader.hide();
          dimmedBackground.hide();
        }, 1000); // 2 seconds
      });
    </script>

    <!-- End Script -->
  </body>
</html>
